* {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #000000;
    font-family: 'Raleway', sans-serif;
}

h1{
  text-align: center;
  font-size: 2rem;
  color:#FFFFFF;
  padding:20px 0;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    margin:10px 0;
}

#site {
    width: 100%;
}

#barre-menu {
    display: flex;
    justify-content: space-between;
    background: #262626;
    padding: 20px 10px;
}

.titre-logo, #barre-menu i {
    color: #FFFFFF;
    font-size: 1.5rem;
    cursor: pointer;
    padding:0;
}

#menu-principal {
    background: #262626;
    color: #FFFFFF;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

#menu-principal ul li {
    font-size: 1.5rem;
    padding: 10px 0;
}

/*
#menu-principal ul li:hover {
    background:#5EE88A;
}
*/


#sous-menu{
  padding-left: 15px;
}

#header, #apropos, #projets{
  min-height:100vh;
}

#header{
  background: #FF3955;
}




#container-img-titre {
    min-height: 500px;
    padding:10px;
    background-size: cover;
    background-repeat: no-repeat;
}

#container-description-bouton {
    min-height: 250px;
    padding: 40px;
}

#nav-slide {
    display: flex;
    justify-content: center;
}

#nav-slide i {
    padding: 0 5px;
    cursor: pointer;
}

.bouton-projet {
    border: none;
    background: #FF346D;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
}

.icon-github{
  font-size: 3rem;
  color:#000000;
}
