* {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
    padding:20px;
    font-size: 1.05rem;
    line-height: 26px;
    text-align: center;
}
a{
  text-decoration: none;
  color:#FFFFFF;
}

h1, h2, h3, h4, h5 {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h1{
  font-size: 2rem;
  color:#FFFFFF;
  padding:20px 0;
}

h2 {
    font-size: 1.8rem;
    margin:10px 0;
}

h3{
  font-size: 1.5rem;
  margin:10px 0;
}

/* structure */

#site {
    width: 100%;
}

#btn-top{
  position: fixed;
  bottom:5px;
  right:5px;
  padding:15px;
  color:#FFFFFF;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.4);
}
/*  menu  */

#barre-menu {
    display: flex;
    justify-content: space-between;
    background: #262626;
    padding: 20px 10px;
}

.titre-logo, #barre-menu i {
    color: #FFFFFF;
    font-size: 1.5rem;
    cursor: pointer;
    padding:0;
}

#menu-principal {
    background: #262626;
    color: #FFFFFF;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

#menu-principal ul li {
    font-size: 1.5rem;
    padding: 10px 0;
}

#sous-menu{
  padding-left: 15px;
}

/* header */

#header, #apropos, #projets, #mini-projets, #contact{
  width:100%;
  min-height:100vh;
  padding:20px 0;
}

#header{
  background: #DE3C63;
  color:#FFFFFF;
}

#header p{
  text-align: center;
}

/* Projets */


#container-slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

img.image-projet{
  width:80%;
  margin: 0 auto;
}

#container-slide a{
  margin:auto;
}

button.bouton-projet {
    border: none;
    background: #FF346D;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

#nav-slide {
    display: flex;
    justify-content: center;
}

#nav-slide i {
    padding: 0 5px;
    cursor: pointer;
}


/* contact */
#contact{
  background: #262626;
}

#contact h2{
  color:#FFFFFF;
}

#formulaire{
  padding:0 20px;
}

#formulaire input, #formulaire textarea{
  width:100%;
  border:none;
  margin: 5px 0;
  padding:5px 0;
}

#formulaire button{
  border:none;
  padding:10px;
}

.icon-github{
  font-size: 3rem;
  color:#000000;
}
